openapi: 3.2.0
info:
  title: AmeriHealth Caritas Organization Affiliation API
  contact: {}
  version: 1.0.0
  description: The OrganizationAffiliation FHIR resource type
servers:
- url: https://api-ext.amerihealthcaritas.com/0500/patient-api
  description: AmeriHealth Caritas
security:
- openId:
  - openid
  - fhirUser
tags:
- name: OrganizationAffiliation
  description: The OrganizationAffiliation FHIR resource type
paths:
  /OrganizationAffiliation/{id}:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'read-instance: Read OrganizationAffiliation instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getOrganizationAffiliationById
      x-operation-id-source: derived
    put:
      tags:
      - OrganizationAffiliation
      summary: 'update-instance: Update an existing OrganizationAffiliation instance, or create…'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"OrganizationAffiliation\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <OrganizationAffiliation xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: putOrganizationAffiliationById
      x-operation-id-source: derived
    delete:
      tags:
      - OrganizationAffiliation
      summary: 'instance-delete: Perform a logical delete on a resource instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: deleteOrganizationAffiliationById
      x-operation-id-source: derived
    patch:
      tags:
      - OrganizationAffiliation
      summary: 'instance-patch: Patch a resource instance of type OrganizationAffiliation by ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"operation\",\n    \"part\": [ {\n      \"name\": \"type\",\n      \"valueString\": \"add\"\n    }, {\n      \"name\": \"path\",\n      \"valueString\": \"Patient\"\n    }, {\n      \"name\": \"name\",\n      \"valueString\": \"birthDate\"\n    }, {\n      \"name\": \"value\",\n      \"valueDate\": \"1930-01-01\"\n    } ]\n  } ]\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: "<Parameters xmlns=\"http://hl7.org/fhir\">\n   <parameter>\n      <name value=\"operation\"/>\n      <part>\n         <name value=\"type\"/>\n         <valueString value=\"add\"/>\n      </part>\n      <part>\n         <name value=\"path\"/>\n         <valueString value=\"Patient\"/>\n      </part>\n      <part>\n         <name value=\"name\"/>\n         <valueString value=\"birthDate\"/>\n      </part>\n      <part>\n         <name value=\"value\"/>\n         <valueDate value=\"1930-01-01\"/>\n      </part>\n   </parameter>\n</Parameters>"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: patchOrganizationAffiliationById
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/_history/{version_id}:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'vread-instance: Read OrganizationAffiliation instance with specific version'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '1'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getOrganizationAffiliationByIdHistoryByVersionId
      x-operation-id-source: derived
  /OrganizationAffiliation:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'search-type: Search for OrganizationAffiliation instances'
      description: This is a search type
      parameters:
      - name: identifier-system-pra-unique
        in: query
        style: simple
      - name: date
        in: query
        description: The period during which the participatingOrganization is affiliated with the primary organization
        style: simple
      - name: specialty
        in: query
        description: Specific specialty of the participatingOrganization in the context of the role
        style: simple
      - name: role
        in: query
        description: Definition of the role the participatingOrganization plays
        style: simple
      - name: resource-placeholder
        in: query
        description: Search for resources of type [OrganizationAffiliation] populated with the resource-placeholder extension
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by the given range
        style: simple
      - name: network
        in: query
        description: Health insurance provider network in which the participatingOrganization provides the role's services (if defined) at the indicated locations (if defined)
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for this role
        style: simple
      - name: telecom
        in: query
        description: The value in any kind of contact
        style: simple
      - name: email
        in: query
        description: A value in an email contact
        style: simple
      - name: identifier
        in: query
        description: An organization affiliation's Identifier
        style: simple
      - name: identifier-system-pra
        in: query
        description: An organization affiliation identifier with system PRA
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: active
        in: query
        description: Whether this organization affiliation record is in active use
        style: simple
      - name: primary-organization
        in: query
        description: The organization that receives the services from the participating organization
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: phone
        in: query
        description: A value in a phone contact
        style: simple
      - name: service
        in: query
        description: Healthcare services provided through the role
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: participating-organization
        in: query
        description: The organization that provides services to the primary organization
        style: simple
      - name: location
        in: query
        description: The location(s) at which the role occurs
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getOrganizationAffiliation
      x-operation-id-source: derived
    post:
      tags:
      - OrganizationAffiliation
      summary: 'create-type: Create a new OrganizationAffiliation instance'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"OrganizationAffiliation\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <OrganizationAffiliation xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: postOrganizationAffiliation
      x-operation-id-source: derived
  /OrganizationAffiliation/_history:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'type-history: Fetch the resource change history for all resources of type…'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getOrganizationAffiliationHistory
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/_history:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'instance-history: Fetch the resource change history for all resources of type…'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getOrganizationAffiliationByIdHistory
      x-operation-id-source: derived
  /OrganizationAffiliation/$validate:
    get:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get organization affiliation $validate
      x-summary-source: derived
      operationId: getOrganizationAffiliation$validate
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$validate:
    get:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get organization affiliation by id $validate
      x-summary-source: derived
      operationId: getOrganizationAffiliationById$validate
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$meta-delete:
    post:
      tags:
      - OrganizationAffiliation
      description: Delete tags, profiles, and/or security labels from a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  }, {\n    \"name\": \"return\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create organization affiliation by id $meta delete
      x-summary-source: derived
      operationId: postOrganizationAffiliationById$metaDelete
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$meta-add:
    post:
      tags:
      - OrganizationAffiliation
      description: Add tags, profiles, and/or security labels to a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  }, {\n    \"name\": \"return\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create organization affiliation by id $meta add
      x-summary-source: derived
      operationId: postOrganizationAffiliationById$metaAdd
      x-operation-id-source: derived
  /OrganizationAffiliation/$meta:
    get:
      tags:
      - OrganizationAffiliation
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get organization affiliation $meta
      x-summary-source: derived
      operationId: getOrganizationAffiliation$meta
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$meta:
    get:
      tags:
      - OrganizationAffiliation
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: return
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get organization affiliation by id $meta
      x-summary-source: derived
      operationId: getOrganizationAffiliationById$meta
      x-operation-id-source: derived
  /OrganizationAffiliation/$expunge:
    post:
      tags:
      - OrganizationAffiliation
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"count\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create organization affiliation $expunge
      x-summary-source: derived
      operationId: postOrganizationAffiliation$expunge
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$expunge:
    post:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"count\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create organization affiliation by id $expunge
      x-summary-source: derived
      operationId: postOrganizationAffiliationById$expunge
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$graphql:
    get:
      tags:
      - OrganizationAffiliation
      description: This operation invokes a GraphQL expression for fetching an joining a graph of resources, returning them in a custom format.
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get organization affiliation by id $graphql
      x-summary-source: derived
      operationId: getOrganizationAffiliationById$graphql
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$binary-access-write:
    post:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"path\",\n    \"valueString\": \"example\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create organization affiliation by id $binary access write
      x-summary-source: derived
      operationId: postOrganizationAffiliationById$binaryAccessWrite
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$binary-access-read:
    get:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: path
        in: query
        required: true
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get organization affiliation by id $binary access read
      x-summary-source: derived
      operationId: getOrganizationAffiliationById$binaryAccessRead
      x-operation-id-source: derived
  /OrganizationAffiliation/{id}/$diff:
    get:
      tags:
      - OrganizationAffiliation
      summary: Comparte two resources or two versions of a single resource
      description: This operation examines two resource versions (can be two versions of the same resource, or two different resources) and generates a FHIR Patch document showing the differences.
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in the diff
        required: false
        style: simple
        example: 'false'
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getOrganizationAffiliationById$diff
      x-operation-id-source: derived
components:
  schemas:
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
  securitySchemes:
    openId:
      type: openIdConnect
      openIdConnectUrl: https://api-ext.amerihealthcaritas.com/0500/patient-api/.well-known/smart-configuration
