openapi: 3.0.1
info:
  title: AmeriHealth Caritas AllergyIntolerance Practitioner API
  contact: {}
  version: 1.0.0
  description: The AllergyIntolerance FHIR resource type
servers:
- url: https://api-ext.amerihealthcaritas.com/0500/patient-api
  description: AmeriHealth Caritas
security:
- openId:
  - openid
  - fhirUser
tags:
- name: Practitioner
  description: The Practitioner FHIR resource type
paths:
  /Practitioner/{id}:
    get:
      tags:
      - Practitioner
      summary: 'read-instance: Read Practitioner instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - Practitioner
      summary: 'update-instance: Update an existing Practitioner instance, or create using a client-assigned ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Practitioner\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Practitioner xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - Practitioner
      summary: 'instance-delete: Perform a logical delete on a resource instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - Practitioner
      summary: 'instance-patch: Patch a resource instance of type Practitioner by ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"operation\",\n    \"part\": [ {\n      \"name\": \"type\",\n      \"valueString\": \"add\"\n    }, {\n      \"name\": \"path\",\n      \"valueString\": \"Patient\"\n    }, {\n      \"name\": \"name\",\n      \"valueString\": \"birthDate\"\n    }, {\n      \"name\": \"value\",\n      \"valueDate\": \"1930-01-01\"\n    } ]\n  } ]\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: "<Parameters xmlns=\"http://hl7.org/fhir\">\n   <parameter>\n      <name value=\"operation\"/>\n      <part>\n         <name value=\"type\"/>\n         <valueString value=\"add\"/>\n      </part>\n      <part>\n         <name value=\"path\"/>\n         <valueString value=\"Patient\"/>\n      </part>\n      <part>\n         <name value=\"name\"/>\n         <valueString value=\"birthDate\"/>\n      </part>\n      <part>\n         <name value=\"value\"/>\n         <valueDate value=\"1930-01-01\"/>\n      </part>\n   </parameter>\n</Parameters>"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/_history/{version_id}:
    get:
      tags:
      - Practitioner
      summary: 'vread-instance: Read Practitioner instance with specific version'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '1'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner:
    get:
      tags:
      - Practitioner
      summary: 'search-type: Search for Practitioner instances'
      description: This is a search type
      parameters:
      - name: address-state
        in: query
        description: A state specified in an address
        style: simple
      - name: gender
        in: query
        description: Gender of the practitioner
        style: simple
      - name: resource-placeholder
        in: query
        description: Search for resources of type [Practitioner] populated with the resource-placeholder extension
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by the given range
        style: simple
      - name: address-country
        in: query
        description: A country specified in an address
        style: simple
      - name: phonetic
        in: query
        description: A portion of either family or given name using some kind of phonetic matching algorithm
        style: simple
      - name: telecom
        in: query
        description: The value in any kind of contact
        style: simple
      - name: address-city
        in: query
        description: A city specified in an address
        style: simple
      - name: communication
        in: query
        description: One of the languages that the practitioner can communicate with
        style: simple
      - name: email
        in: query
        description: A value in an email contact
        style: simple
      - name: given
        in: query
        description: A portion of the given name
        style: simple
      - name: identifier
        in: query
        description: A practitioner's Identifier
        style: simple
      - name: address
        in: query
        description: A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text
        style: simple
      - name: identifier-system-prn-unique
        in: query
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: active
        in: query
        description: Whether the practitioner record is active
        style: simple
      - name: address-postalcode
        in: query
        description: A postalCode specified in an address
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: phone
        in: query
        description: A value in a phone contact
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: address-use
        in: query
        description: A use code specified in an address
        style: simple
      - name: name
        in: query
        description: A server defined search that may match any of the string fields in the HumanName, including family, give, prefix, suffix, suffix, and/or text
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: family
        in: query
        description: A portion of the family name
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        style: simple
      - name: identifier-system-prn
        in: query
        description: A practitioner identifier with system PRN
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - Practitioner
      summary: 'create-type: Create a new Practitioner instance'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Practitioner\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Practitioner xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/_history:
    get:
      tags:
      - Practitioner
      summary: 'type-history: Fetch the resource change history for all resources of type Practitioner'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/_history:
    get:
      tags:
      - Practitioner
      summary: 'instance-history: Fetch the resource change history for all resources of type Practitioner'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/$validate:
    get:
      tags:
      - Practitioner
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$validate:
    get:
      tags:
      - Practitioner
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$meta-delete:
    post:
      tags:
      - Practitioner
      description: Delete tags, profiles, and/or security labels from a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  }, {\n    \"name\": \"return\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$meta-add:
    post:
      tags:
      - Practitioner
      description: Add tags, profiles, and/or security labels to a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  }, {\n    \"name\": \"return\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/$meta:
    get:
      tags:
      - Practitioner
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$meta:
    get:
      tags:
      - Practitioner
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: return
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/$expunge:
    post:
      tags:
      - Practitioner
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"count\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$expunge:
    post:
      tags:
      - Practitioner
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"count\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$graphql:
    get:
      tags:
      - Practitioner
      description: This operation invokes a GraphQL expression for fetching an joining a graph of resources, returning them in a custom format.
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$binary-access-write:
    post:
      tags:
      - Practitioner
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"path\",\n    \"valueString\": \"example\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$binary-access-read:
    get:
      tags:
      - Practitioner
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: path
        in: query
        required: true
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Practitioner/{id}/$diff:
    get:
      tags:
      - Practitioner
      summary: Comparte two resources or two versions of a single resource
      description: This operation examines two resource versions (can be two versions of the same resource, or two different resources) and generates a FHIR Patch document showing the differences.
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in the diff
        required: false
        style: simple
        example: 'false'
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
  securitySchemes:
    openId:
      type: openIdConnect
      openIdConnectUrl: https://api-ext.amerihealthcaritas.com/0500/patient-api/.well-known/smart-configuration
