openapi: 3.2.0
info:
  title: AmeriHealth Caritas Practitioner Role API
  contact: {}
  version: 1.0.0
  description: The PractitionerRole FHIR resource type
servers:
- url: https://api-ext.amerihealthcaritas.com/0500/patient-api
  description: AmeriHealth Caritas
security:
- openId:
  - openid
  - fhirUser
tags:
- name: Practitioner Role
  description: The PractitionerRole FHIR resource type
paths:
  /PractitionerRole/{id}:
    get:
      tags:
      - Practitioner Role
      summary: 'read-instance: Read PractitionerRole instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getPractitionerRoleById
      x-operation-id-source: derived
    put:
      tags:
      - Practitioner Role
      summary: 'update-instance: Update an existing PractitionerRole instance, or create using…'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"PractitionerRole\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <PractitionerRole xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: putPractitionerRoleById
      x-operation-id-source: derived
    delete:
      tags:
      - Practitioner Role
      summary: 'instance-delete: Perform a logical delete on a resource instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: deletePractitionerRoleById
      x-operation-id-source: derived
    patch:
      tags:
      - Practitioner Role
      summary: 'instance-patch: Patch a resource instance of type PractitionerRole by ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"operation\",\n    \"part\": [ {\n      \"name\": \"type\",\n      \"valueString\": \"add\"\n    }, {\n      \"name\": \"path\",\n      \"valueString\": \"Patient\"\n    }, {\n      \"name\": \"name\",\n      \"valueString\": \"birthDate\"\n    }, {\n      \"name\": \"value\",\n      \"valueDate\": \"1930-01-01\"\n    } ]\n  } ]\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: "<Parameters xmlns=\"http://hl7.org/fhir\">\n   <parameter>\n      <name value=\"operation\"/>\n      <part>\n         <name value=\"type\"/>\n         <valueString value=\"add\"/>\n      </part>\n      <part>\n         <name value=\"path\"/>\n         <valueString value=\"Patient\"/>\n      </part>\n      <part>\n         <name value=\"name\"/>\n         <valueString value=\"birthDate\"/>\n      </part>\n      <part>\n         <name value=\"value\"/>\n         <valueDate value=\"1930-01-01\"/>\n      </part>\n   </parameter>\n</Parameters>"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: patchPractitionerRoleById
      x-operation-id-source: derived
  /PractitionerRole/{id}/_history/{version_id}:
    get:
      tags:
      - Practitioner Role
      summary: 'vread-instance: Read PractitionerRole instance with specific version'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '1'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getPractitionerRoleByIdHistoryByVersionId
      x-operation-id-source: derived
  /PractitionerRole:
    get:
      tags:
      - Practitioner Role
      summary: 'search-type: Search for PractitionerRole instances'
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: The period during which the practitioner is authorized to perform in these role(s)
        style: simple
      - name: specialty
        in: query
        description: The practitioner has this specialty at an organization
        style: simple
      - name: role
        in: query
        description: The practitioner can perform this role at for the organization
        style: simple
      - name: resource-placeholder
        in: query
        description: Search for resources of type [PractitionerRole] populated with the resource-placeholder extension
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by the given range
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for the practitioner with this role
        style: simple
      - name: telecom
        in: query
        description: The value in any kind of contact
        style: simple
      - name: email
        in: query
        description: A value in an email contact
        style: simple
      - name: identifier
        in: query
        description: A practitioner's Identifier - 2022-07-27 reload
        style: simple
      - name: practitioner
        in: query
        description: Practitioner that is able to provide the defined services for the organization
        style: simple
      - name: identifier-system-prn-unique
        in: query
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: active
        in: query
        description: Whether this practitioner role record is in active use
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: phone
        in: query
        description: A value in a phone contact
        style: simple
      - name: service
        in: query
        description: The list of healthcare services that this worker provides for this role's Organization/Location(s)
        style: simple
      - name: organization
        in: query
        description: The identity of the organization the practitioner represents / acts on behalf of
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: location
        in: query
        description: One of the locations at which this practitioner provides care
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        style: simple
      - name: identifier-system-prn
        in: query
        description: A practitioner role identifier with system PRN
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getPractitionerRole
      x-operation-id-source: derived
    post:
      tags:
      - Practitioner Role
      summary: 'create-type: Create a new PractitionerRole instance'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"PractitionerRole\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <PractitionerRole xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: postPractitionerRole
      x-operation-id-source: derived
  /PractitionerRole/_history:
    get:
      tags:
      - Practitioner Role
      summary: 'type-history: Fetch the resource change history for all resources of type…'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getPractitionerRoleHistory
      x-operation-id-source: derived
  /PractitionerRole/{id}/_history:
    get:
      tags:
      - Practitioner Role
      summary: 'instance-history: Fetch the resource change history for all resources of type…'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getPractitionerRoleByIdHistory
      x-operation-id-source: derived
  /PractitionerRole/$validate:
    get:
      tags:
      - Practitioner Role
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get practitioner role $validate
      x-summary-source: derived
      operationId: getPractitionerRole$validate
      x-operation-id-source: derived
  /PractitionerRole/{id}/$validate:
    get:
      tags:
      - Practitioner Role
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get practitioner role by id $validate
      x-summary-source: derived
      operationId: getPractitionerRoleById$validate
      x-operation-id-source: derived
  /PractitionerRole/{id}/$meta-delete:
    post:
      tags:
      - Practitioner Role
      description: Delete tags, profiles, and/or security labels from a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  }, {\n    \"name\": \"return\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create practitioner role by id $meta delete
      x-summary-source: derived
      operationId: postPractitionerRoleById$metaDelete
      x-operation-id-source: derived
  /PractitionerRole/{id}/$meta-add:
    post:
      tags:
      - Practitioner Role
      description: Add tags, profiles, and/or security labels to a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  }, {\n    \"name\": \"return\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create practitioner role by id $meta add
      x-summary-source: derived
      operationId: postPractitionerRoleById$metaAdd
      x-operation-id-source: derived
  /PractitionerRole/$meta:
    get:
      tags:
      - Practitioner Role
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get practitioner role $meta
      x-summary-source: derived
      operationId: getPractitionerRole$meta
      x-operation-id-source: derived
  /PractitionerRole/{id}/$meta:
    get:
      tags:
      - Practitioner Role
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: return
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get practitioner role by id $meta
      x-summary-source: derived
      operationId: getPractitionerRoleById$meta
      x-operation-id-source: derived
  /PractitionerRole/$expunge:
    post:
      tags:
      - Practitioner Role
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"count\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create practitioner role $expunge
      x-summary-source: derived
      operationId: postPractitionerRole$expunge
      x-operation-id-source: derived
  /PractitionerRole/{id}/$expunge:
    post:
      tags:
      - Practitioner Role
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"count\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create practitioner role by id $expunge
      x-summary-source: derived
      operationId: postPractitionerRoleById$expunge
      x-operation-id-source: derived
  /PractitionerRole/{id}/$graphql:
    get:
      tags:
      - Practitioner Role
      description: This operation invokes a GraphQL expression for fetching an joining a graph of resources, returning them in a custom format.
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get practitioner role by id $graphql
      x-summary-source: derived
      operationId: getPractitionerRoleById$graphql
      x-operation-id-source: derived
  /PractitionerRole/{id}/$binary-access-write:
    post:
      tags:
      - Practitioner Role
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"path\",\n    \"valueString\": \"example\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Create practitioner role by id $binary access write
      x-summary-source: derived
      operationId: postPractitionerRoleById$binaryAccessWrite
      x-operation-id-source: derived
  /PractitionerRole/{id}/$binary-access-read:
    get:
      tags:
      - Practitioner Role
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: path
        in: query
        required: true
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      summary: Get practitioner role by id $binary access read
      x-summary-source: derived
      operationId: getPractitionerRoleById$binaryAccessRead
      x-operation-id-source: derived
  /PractitionerRole/{id}/$diff:
    get:
      tags:
      - Practitioner Role
      summary: Comparte two resources or two versions of a single resource
      description: This operation examines two resource versions (can be two versions of the same resource, or two different resources) and generates a FHIR Patch document showing the differences.
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in the diff
        required: false
        style: simple
        example: 'false'
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      operationId: getPractitionerRoleById$diff
      x-operation-id-source: derived
components:
  schemas:
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
  securitySchemes:
    openId:
      type: openIdConnect
      openIdConnectUrl: https://api-ext.amerihealthcaritas.com/0500/patient-api/.well-known/smart-configuration
