openapi: 3.0.1
info:
  title: AmeriHealth Caritas
  contact: {}
  version: 1.0.0
servers:
- url: https://api-ext.amerihealthcaritas.com/1200/provider-api
  description: AmeriHealth Caritas
tags:
- name: System Level Operations
  description: Server-level operations
- name: InsurancePlan
  description: The InsurancePlan FHIR resource type
- name: Location
  description: The Location FHIR resource type
- name: Organization
  description: The Organization FHIR resource type
- name: OrganizationAffiliation
  description: The OrganizationAffiliation FHIR resource type
- name: Practitioner
  description: The Practitioner FHIR resource type
- name: PractitionerRole
  description: The PractitionerRole FHIR resource type
paths:
  /metadata:
    get:
      tags:
      - System Level Operations
      summary: "server-capabilities: Fetch the server FHIR CapabilityStatement"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: |-
                {
                  "resourceType": "CapabilityStatement"
                }
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: <CapabilityStatement xmlns="http://hl7.org/fhir"/>
  /:
    post:
      tags:
      - System Level Operations
      summary: "server-transaction: Execute a FHIR Transaction (or FHIR Batch) Bundle"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /_history:
    get:
      tags:
      - System Level Operations
      summary: "server-history: Fetch the resource change history across all resource\
        \ types on the server"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$reindex:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "url",
                  "valueString": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$submit-attachment:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$diff:
    get:
      tags:
      - System Level Operations
      summary: Comparte two resources or two versions of a single resource
      description: "This operation examines two resource versions (can be two versions\
        \ of the same resource, or two different resources) and generates a FHIR Patch\
        \ document showing the differences."
      parameters:
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in
          the diff
        required: false
        style: simple
        example: "false"
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$process-message:
    post:
      tags:
      - System Level Operations
      description: Accept a FHIR Message Bundle for processing
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "content"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$perform-reindexing-pass:
    post:
      tags:
      - System Level Operations
      description: Forces a single pass of the resource reindexing processor
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "status"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$meta:
    get:
      tags:
      - System Level Operations
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$mark-all-resources-for-reindexing:
    post:
      tags:
      - System Level Operations
      description: "Marks all currently existing resources of a given type, or all\
        \ resources of all types, for reindexing."
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "type",
                  "valueCode": "example"
                }, {
                  "name": "status"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$get-resource-counts:
    get:
      tags:
      - System Level Operations
      summary: "Provides the number of resources currently stored on the server, broken\
        \ down by resource type"
      description: "Provides the number of resources currently stored on the server,\
        \ broken down by resource type"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$expunge:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$reindex-terminology:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$graphql:
    get:
      tags:
      - System Level Operations
      description: "This operation invokes a GraphQL expression for fetching an joining\
        \ a graph of resources, returning them in a custom format."
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}:
    get:
      tags:
      - InsurancePlan
      summary: "read-instance: Read InsurancePlan instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - InsurancePlan
      summary: "update-instance: Update an existing InsurancePlan instance, or create\
        \ using a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "InsurancePlan"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <InsurancePlan xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - InsurancePlan
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - InsurancePlan
      summary: "instance-patch: Patch a resource instance of type InsurancePlan by\
        \ ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/_history/{version_id}:
    get:
      tags:
      - InsurancePlan
      summary: "vread-instance: Read InsurancePlan instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan:
    get:
      tags:
      - InsurancePlan
      summary: "search-type: Search for InsurancePlan instances"
      description: This is a search type
      parameters:
      - name: address-state
        in: query
        description: A state specified in an address
        style: simple
      - name: resource-placeholder
        in: query
        description: "Search for resources of type [InsurancePlan] populated with\
          \ the resource-placeholder extension"
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        style: simple
      - name: identifier-system-pln-unique
        in: query
        style: simple
      - name: type
        in: query
        description: A code for the type of organization
        style: simple
      - name: address-country
        in: query
        description: A country specified in an address
        style: simple
      - name: administered-by
        in: query
        description: Product administrator
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoint
        style: simple
      - name: phonetic
        in: query
        description: A portion of the organization's name using some kind of phonetic
          matching algorithm
        style: simple
      - name: address-city
        in: query
        description: A city specified in an address
        style: simple
      - name: identifier
        in: query
        description: Any identifier for the organization (not the accreditation issuer's
          identifier)
        style: simple
      - name: address
        in: query
        description: "A server defined search that may match any of the string fields\
          \ in the Address, including line, city, district, state, country, postalCode,\
          \ and/or text"
        style: simple
      - name: owned-by
        in: query
        description: An organization of which this organization forms a part
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: identifier-system-pln
        in: query
        description: An insurance plan identifier with system PLN
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: address-use
        in: query
        description: A use code specified in an address
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        style: simple
      - name: status
        in: query
        description: Is the Organization record active
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - InsurancePlan
      summary: "create-type: Create a new InsurancePlan instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "InsurancePlan"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <InsurancePlan xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/_history:
    get:
      tags:
      - InsurancePlan
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type InsurancePlan"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/_history:
    get:
      tags:
      - InsurancePlan
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type InsurancePlan"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/$validate:
    get:
      tags:
      - InsurancePlan
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$validate:
    get:
      tags:
      - InsurancePlan
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$meta-delete:
    post:
      tags:
      - InsurancePlan
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$meta-add:
    post:
      tags:
      - InsurancePlan
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/$meta:
    get:
      tags:
      - InsurancePlan
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$meta:
    get:
      tags:
      - InsurancePlan
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/$expunge:
    post:
      tags:
      - InsurancePlan
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$expunge:
    post:
      tags:
      - InsurancePlan
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$graphql:
    get:
      tags:
      - InsurancePlan
      description: "This operation invokes a GraphQL expression for fetching an joining\
        \ a graph of resources, returning them in a custom format."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$binary-access-write:
    post:
      tags:
      - InsurancePlan
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "path",
                  "valueString": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$binary-access-read:
    get:
      tags:
      - InsurancePlan
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: path
        in: query
        required: true
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /InsurancePlan/{id}/$diff:
    get:
      tags:
      - InsurancePlan
      summary: Comparte two resources or two versions of a single resource
      description: "This operation examines two resource versions (can be two versions\
        \ of the same resource, or two different resources) and generates a FHIR Patch\
        \ document showing the differences."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in
          the diff
        required: false
        style: simple
        example: "false"
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}:
    get:
      tags:
      - Location
      summary: "read-instance: Read Location instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - Location
      summary: "update-instance: Update an existing Location instance, or create using\
        \ a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Location"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Location xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - Location
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - Location
      summary: "instance-patch: Patch a resource instance of type Location by ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/_history/{version_id}:
    get:
      tags:
      - Location
      summary: "vread-instance: Read Location instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location:
    get:
      tags:
      - Location
      summary: "search-type: Search for Location instances"
      description: This is a search type
      parameters:
      - name: address-state
        in: query
        description: A state specified in an address
        style: simple
      - name: resource-placeholder
        in: query
        description: "Search for resources of type [Location] populated with the resource-placeholder\
          \ extension"
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        style: simple
      - name: operational-status
        in: query
        description: "Searches for locations (typically bed/room) that have an operational\
          \ status (e.g. contaminated, housekeeping)"
        style: simple
      - name: identifier-system-loc
        in: query
        description: A location identifier with system LOC
        style: simple
      - name: type
        in: query
        description: A code for the type of location
        style: simple
      - name: address-country
        in: query
        description: A country specified in an address
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for
          the location
        style: simple
      - name: near
        in: query
        description: |-
          Search for locations where the location.position is near to, or within a specified distance of, the provided coordinates expressed as [latitude]|[longitude]|[distance]|[units] (using the WGS84 datum, see notes).
          If the units are omitted, then kms should be assumed. If the distance is omitted, then the server can use its own discretion as to what distances should be considered near (and units are irrelevant)

          Servers may search using various techniques that might have differing accuracies, depending on implementation efficiency.

          Requires the near-distance parameter to be provided also
        style: simple
      - name: address-city
        in: query
        description: A city specified in an address
        style: simple
      - name: partof
        in: query
        description: A location of which this location is a part
        style: simple
      - name: identifier
        in: query
        description: An identifier for the location
        style: simple
      - name: address
        in: query
        description: A (part of the) address of the location
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        style: simple
      - name: identifier-system-loc-unique
        in: query
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: organization
        in: query
        description: Searches for locations that are managed by the provided organization
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: name
        in: query
        description: A portion of the location's name or alias
        style: simple
      - name: address-use
        in: query
        description: A use code specified in an address
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        style: simple
      - name: status
        in: query
        description: Searches for locations with a specific kind of status
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - Location
      summary: "create-type: Create a new Location instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Location"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Location xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/_history:
    get:
      tags:
      - Location
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type Location"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/_history:
    get:
      tags:
      - Location
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type Location"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/$validate:
    get:
      tags:
      - Location
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$validate:
    get:
      tags:
      - Location
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$meta-delete:
    post:
      tags:
      - Location
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$meta-add:
    post:
      tags:
      - Location
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/$meta:
    get:
      tags:
      - Location
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$meta:
    get:
      tags:
      - Location
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/$expunge:
    post:
      tags:
      - Location
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$expunge:
    post:
      tags:
      - Location
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$graphql:
    get:
      tags:
      - Location
      description: "This operation invokes a GraphQL expression for fetching an joining\
        \ a graph of resources, returning them in a custom format."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$binary-access-write:
    post:
      tags:
      - Location
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "path",
                  "valueString": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$binary-access-read:
    get:
      tags:
      - Location
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: path
        in: query
        required: true
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Location/{id}/$diff:
    get:
      tags:
      - Location
      summary: Comparte two resources or two versions of a single resource
      description: "This operation examines two resource versions (can be two versions\
        \ of the same resource, or two different resources) and generates a FHIR Patch\
        \ document showing the differences."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in
          the diff
        required: false
        style: simple
        example: "false"
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}:
    get:
      tags:
      - Organization
      summary: "read-instance: Read Organization instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - Organization
      summary: "update-instance: Update an existing Organization instance, or create\
        \ using a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Organization"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Organization xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - Organization
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - Organization
      summary: "instance-patch: Patch a resource instance of type Organization by\
        \ ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/_history/{version_id}:
    get:
      tags:
      - Organization
      summary: "vread-instance: Read Organization instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization:
    get:
      tags:
      - Organization
      summary: "search-type: Search for Organization instances"
      description: This is a search type
      parameters:
      - name: identifier-system-ntwk-unique
        in: query
        style: simple
      - name: address-state
        in: query
        description: A state specified in an address
        style: simple
      - name: resource-placeholder
        in: query
        description: "Search for resources of type [Organization] populated with the\
          \ resource-placeholder extension"
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        style: simple
      - name: identifier-system-ntwk
        in: query
        description: An organization identifier with system NTWK
        style: simple
      - name: type
        in: query
        description: A code for the type of organization
        style: simple
      - name: address-country
        in: query
        description: A country specified in an address
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for
          the organization
        style: simple
      - name: phonetic
        in: query
        description: A portion of the organization's name using some kind of phonetic
          matching algorithm
        style: simple
      - name: address-city
        in: query
        description: A city specified in an address
        style: simple
      - name: partof
        in: query
        description: An organization of which this organization forms a part
        style: simple
      - name: identifier
        in: query
        description: Any identifier for the organization (not the accreditation issuer's
          identifier)
        style: simple
      - name: address
        in: query
        description: "A server defined search that may match any of the string fields\
          \ in the Address, including line, city, district, state, country, postalCode,\
          \ and/or text"
        style: simple
      - name: identifier-system-prn-unique
        in: query
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: active
        in: query
        description: Is the Organization record active
        style: simple
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: address-use
        in: query
        description: A use code specified in an address
        style: simple
      - name: name
        in: query
        description: A portion of the organization's name or alias
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        style: simple
      - name: identifier-system-prn
        in: query
        description: An organization identifier with system PRN
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - Organization
      summary: "create-type: Create a new Organization instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Organization"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Organization xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/_history:
    get:
      tags:
      - Organization
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type Organization"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/_history:
    get:
      tags:
      - Organization
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type Organization"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/$validate:
    get:
      tags:
      - Organization
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$validate:
    get:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$meta-delete:
    post:
      tags:
      - Organization
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$meta-add:
    post:
      tags:
      - Organization
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/$meta:
    get:
      tags:
      - Organization
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$meta:
    get:
      tags:
      - Organization
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/$expunge:
    post:
      tags:
      - Organization
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$expunge:
    post:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$graphql:
    get:
      tags:
      - Organization
      description: "This operation invokes a GraphQL expression for fetching an joining\
        \ a graph of resources, returning them in a custom format."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$binary-access-write:
    post:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "path",
                  "valueString": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$binary-access-read:
    get:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: path
        in: query
        required: true
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Organization/{id}/$diff:
    get:
      tags:
      - Organization
      summary: Comparte two resources or two versions of a single resource
      description: "This operation examines two resource versions (can be two versions\
        \ of the same resource, or two different resources) and generates a FHIR Patch\
        \ document showing the differences."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in
          the diff
        required: false
        style: simple
        example: "false"
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation/{id}:
    get:
      tags:
      - OrganizationAffiliation
      summary: "read-instance: Read OrganizationAffiliation instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - OrganizationAffiliation
      summary: "update-instance: Update an existing OrganizationAffiliation instance,\
        \ or create using a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "OrganizationAffiliation"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <OrganizationAffiliation xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - OrganizationAffiliation
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - OrganizationAffiliation
      summary: "instance-patch: Patch a resource instance of type OrganizationAffiliation\
        \ by ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation/{id}/_history/{version_id}:
    get:
      tags:
      - OrganizationAffiliation
      summary: "vread-instance: Read OrganizationAffiliation instance with specific\
        \ version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation:
    get:
      tags:
      - OrganizationAffiliation
      summary: "search-type: Search for OrganizationAffiliation instances"
      description: This is a search type
      parameters:
      - name: identifier-system-pra-unique
        in: query
        style: simple
      - name: date
        in: query
        description: The period during which the participatingOrganization is affiliated
          with the primary organization
        style: simple
      - name: specialty
        in: query
        description: Specific specialty of the participatingOrganization in the context
          of the role
        style: simple
      - name: role
        in: query
        description: Definition of the role the participatingOrganization plays
        style: simple
      - name: resource-placeholder
        in: query
        description: "Search for resources of type [OrganizationAffiliation] populated\
          \ with the resource-placeholder extension"
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        style: simple
      - name: network
        in: query
        description: Health insurance provider network in which the participatingOrganization
          provides the role's services (if defined) at the indicated locations (if
          defined)
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for
          this role
        style: simple
      - name: telecom
        in: query
        description: The value in any kind of contact
        style: simple
      - name: email
        in: query
        description: A value in an email contact
        style: simple
      - name: identifier
        in: query
        description: An organization affiliation's Identifier
        style: simple
      - name: identifier-system-pra
        in: query
        description: An organization affiliation identifier with system PRA
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: active
        in: query
        description: Whether this organization affiliation record is in active use
        style: simple
      - name: primary-organization
        in: query
        description: The organization that receives the services from the participating
          organization
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: phone
        in: query
        description: A value in a phone contact
        style: simple
      - name: service
        in: query
        description: Healthcare services provided through the role
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: participating-organization
        in: query
        description: The organization that provides services to the primary organization
        style: simple
      - name: location
        in: query
        description: The location(s) at which the role occurs
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - OrganizationAffiliation
      summary: "create-type: Create a new OrganizationAffiliation instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "OrganizationAffiliation"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <OrganizationAffiliation xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation/_history:
    get:
      tags:
      - OrganizationAffiliation
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type OrganizationAffiliation"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation/{id}/_history:
    get:
      tags:
      - OrganizationAffiliation
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type OrganizationAffiliation"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation/$validate:
    get:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation/{id}/$validate:
    get:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation/{id}/$meta-delete:
    post:
      tags:
      - OrganizationAffiliation
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /OrganizationAffiliation/{id}/$meta-add:
    post:
      tags:
      - OrganizationAffiliation
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
[...]
