openapi: 3.0.1
info:
  title: AmeriHealth Caritas
  contact: {}
  version: 1.0.0
servers:
- url: https://api-ext.amerihealthcaritas.com/0500/patient-api
  description: AmeriHealth Caritas
security:
- openId:
  - openid
  - fhirUser
tags:
- name: System Level Operations
  description: Server-level operations
- name: AllergyIntolerance
  description: The AllergyIntolerance FHIR resource type
- name: Claim
  description: The Claim FHIR resource type
- name: Condition
  description: The Condition FHIR resource type
- name: Coverage
  description: The Coverage FHIR resource type
- name: Encounter
  description: The Encounter FHIR resource type
- name: ExplanationOfBenefit
  description: The ExplanationOfBenefit FHIR resource type
- name: HealthcareService
  description: The HealthcareService FHIR resource type
- name: Immunization
  description: The Immunization FHIR resource type
- name: InsurancePlan
  description: The InsurancePlan FHIR resource type
- name: List
  description: The List FHIR resource type
- name: Location
  description: The Location FHIR resource type
- name: Medication
  description: The Medication FHIR resource type
- name: MedicationDispense
  description: The MedicationDispense FHIR resource type
- name: MedicationKnowledge
  description: The MedicationKnowledge FHIR resource type
- name: MedicationRequest
  description: The MedicationRequest FHIR resource type
- name: Observation
  description: The Observation FHIR resource type
- name: Organization
  description: The Organization FHIR resource type
- name: OrganizationAffiliation
  description: The OrganizationAffiliation FHIR resource type
- name: Patient
  description: The Patient FHIR resource type
- name: Practitioner
  description: The Practitioner FHIR resource type
- name: PractitionerRole
  description: The PractitionerRole FHIR resource type
- name: Procedure
  description: The Procedure FHIR resource type
paths:
  /metadata:
    get:
      tags:
      - System Level Operations
      summary: "server-capabilities: Fetch the server FHIR CapabilityStatement"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: |-
                {
                  "resourceType": "CapabilityStatement"
                }
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: <CapabilityStatement xmlns="http://hl7.org/fhir"/>
  /:
    post:
      tags:
      - System Level Operations
      summary: "server-transaction: Execute a FHIR Transaction (or FHIR Batch) Bundle"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /_history:
    get:
      tags:
      - System Level Operations
      summary: "server-history: Fetch the resource change history across all resource\
        \ types on the server"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$reindex:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "url",
                  "valueString": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$submit-attachment:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$diff:
    get:
      tags:
      - System Level Operations
      summary: Comparte two resources or two versions of a single resource
      description: "This operation examines two resource versions (can be two versions\
        \ of the same resource, or two different resources) and generates a FHIR Patch\
        \ document showing the differences."
      parameters:
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in
          the diff
        required: false
        style: simple
        example: "false"
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$process-message:
    post:
      tags:
      - System Level Operations
      description: Accept a FHIR Message Bundle for processing
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "content"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$perform-reindexing-pass:
    post:
      tags:
      - System Level Operations
      description: Forces a single pass of the resource reindexing processor
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "status"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$meta:
    get:
      tags:
      - System Level Operations
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$mark-all-resources-for-reindexing:
    post:
      tags:
      - System Level Operations
      description: "Marks all currently existing resources of a given type, or all\
        \ resources of all types, for reindexing."
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "type",
                  "valueCode": "example"
                }, {
                  "name": "status"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$get-resource-counts:
    get:
      tags:
      - System Level Operations
      summary: "Provides the number of resources currently stored on the server, broken\
        \ down by resource type"
      description: "Provides the number of resources currently stored on the server,\
        \ broken down by resource type"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$expunge:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$reindex-terminology:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /$graphql:
    get:
      tags:
      - System Level Operations
      description: "This operation invokes a GraphQL expression for fetching an joining\
        \ a graph of resources, returning them in a custom format."
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}:
    get:
      tags:
      - AllergyIntolerance
      summary: "read-instance: Read AllergyIntolerance instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - AllergyIntolerance
      summary: "update-instance: Update an existing AllergyIntolerance instance, or\
        \ create using a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "AllergyIntolerance"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <AllergyIntolerance xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - AllergyIntolerance
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - AllergyIntolerance
      summary: "instance-patch: Patch a resource instance of type AllergyIntolerance\
        \ by ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/_history/{version_id}:
    get:
      tags:
      - AllergyIntolerance
      summary: "vread-instance: Read AllergyIntolerance instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance:
    get:
      tags:
      - AllergyIntolerance
      summary: "search-type: Search for AllergyIntolerance instances"
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: Date first version of the resource instance was recorded
        style: simple
      - name: code
        in: query
        description: Code that identifies the allergy or intolerance
        style: simple
      - name: resource-placeholder
        in: query
        description: "Search for resources of type [AllergyIntolerance] populated\
          \ with the resource-placeholder extension"
        style: simple
      - name: verification-status
        in: query
        description: unconfirmed | confirmed | refuted | entered-in-error
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        style: simple
      - name: criticality
        in: query
        description: low | high | unable-to-assess
        style: simple
      - name: clinical-status
        in: query
        description: active | inactive | resolved
        style: simple
      - name: type
        in: query
        description: allergy | intolerance - Underlying mechanism (if known)
        style: simple
      - name: patient
        in: query
        description: Who the sensitivity is for
        style: simple
      - name: severity
        in: query
        description: mild | moderate | severe (of event as a whole)
        style: simple
      - name: identifier
        in: query
        description: External ids for this item
        style: simple
      - name: manifestation
        in: query
        description: Clinical symptoms/signs associated with the Event
        style: simple
      - name: recorder
        in: query
        description: Who recorded the sensitivity
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: onset
        in: query
        description: Date(/time) when manifestations showed
        style: simple
      - name: route
        in: query
        description: How the subject was exposed to the substance
        style: simple
      - name: asserter
        in: query
        description: Source of the information about the allergy
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: category
        in: query
        description: food | medication | environment | biologic
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        style: simple
      - name: last-date
        in: query
        description: Date(/time) of last known occurrence of a reaction
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - AllergyIntolerance
      summary: "create-type: Create a new AllergyIntolerance instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "AllergyIntolerance"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <AllergyIntolerance xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/_history:
    get:
      tags:
      - AllergyIntolerance
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type AllergyIntolerance"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/_history:
    get:
      tags:
      - AllergyIntolerance
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type AllergyIntolerance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/$validate:
    get:
      tags:
      - AllergyIntolerance
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$validate:
    get:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$meta-delete:
    post:
      tags:
      - AllergyIntolerance
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$meta-add:
    post:
      tags:
      - AllergyIntolerance
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/$meta:
    get:
      tags:
      - AllergyIntolerance
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$meta:
    get:
      tags:
      - AllergyIntolerance
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/$expunge:
    post:
      tags:
      - AllergyIntolerance
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$expunge:
    post:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$graphql:
    get:
      tags:
      - AllergyIntolerance
      description: "This operation invokes a GraphQL expression for fetching an joining\
        \ a graph of resources, returning them in a custom format."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$binary-access-write:
    post:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "path",
                  "valueString": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$binary-access-read:
    get:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: path
        in: query
        required: true
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /AllergyIntolerance/{id}/$diff:
    get:
      tags:
      - AllergyIntolerance
      summary: Comparte two resources or two versions of a single resource
      description: "This operation examines two resource versions (can be two versions\
        \ of the same resource, or two different resources) and generates a FHIR Patch\
        \ document showing the differences."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in
          the diff
        required: false
        style: simple
        example: "false"
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}:
    get:
      tags:
      - Claim
      summary: "read-instance: Read Claim instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - Claim
      summary: "update-instance: Update an existing Claim instance, or create using\
        \ a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Claim"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Claim xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - Claim
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - Claim
      summary: "instance-patch: Patch a resource instance of type Claim by ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/_history/{version_id}:
    get:
      tags:
      - Claim
      summary: "vread-instance: Read Claim instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim:
    get:
      tags:
      - Claim
      summary: "search-type: Search for Claim instances"
      description: This is a search type
      parameters:
      - name: care-team
        in: query
        description: Member of the CareTeam
        style: simple
      - name: use
        in: query
        description: The kind of financial resource
        style: simple
      - name: resource-placeholder
        in: query
        description: "Search for resources of type [Claim] populated with the resource-placeholder\
          \ extension"
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        style: simple
      - name: payee
        in: query
        description: The party receiving any payment for the Claim
        style: simple
      - name: provider
        in: query
        description: Provider responsible for the Claim
        style: simple
      - name: patient
        in: query
        description: Patient receiving the products or services
        style: simple
      - name: insurer
        in: query
        description: The target payor/insurer for the Claim
        style: simple
      - name: detail-udi
        in: query
        description: "UDI associated with a line item, detail product or service"
        style: simple
      - name: enterer
        in: query
        description: The party responsible for the entry of the Claim
        style: simple
      - name: procedure-udi
        in: query
        description: UDI associated with a procedure
        style: simple
      - name: item-udi
        in: query
        description: UDI associated with a line item product or service
        style: simple
      - name: identifier
        in: query
        description: The primary identifier of the financial resource
        style: simple
      - name: created
        in: query
        description: The creation date for the Claim
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: encounter
        in: query
        description: Encounters associated with a billed line item
        style: simple
      - name: priority
        in: query
        description: Processing priority requested
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: subdetail-udi
        in: query
        description: "UDI associated with a line item, detail, subdetail product or\
          \ service"
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        style: simple
      - name: facility
        in: query
        description: Facility where the products or services have been or will be
          provided
        style: simple
      - name: status
        in: query
        description: The status of the Claim instance.
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - Claim
      summary: "create-type: Create a new Claim instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Claim"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Claim xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/_history:
    get:
      tags:
      - Claim
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type Claim"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/_history:
    get:
      tags:
      - Claim
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type Claim"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/$validate:
    get:
      tags:
      - Claim
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$validate:
    get:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$meta-delete:
    post:
      tags:
      - Claim
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$meta-add:
    post:
      tags:
      - Claim
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/$meta:
    get:
      tags:
      - Claim
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$meta:
    get:
      tags:
      - Claim
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/$expunge:
    post:
      tags:
      - Claim
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$expunge:
    post:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$graphql:
    get:
      tags:
      - Claim
      description: "This operation invokes a GraphQL expression for fetching an joining\
        \ a graph of resources, returning them in a custom format."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$binary-access-write:
    post:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "path",
                  "valueString": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$binary-access-read:
    get:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: path
        in: query
        required: true
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Claim/{id}/$diff:
    get:
      tags:
      - Claim
      summary: Comparte two resources or two versions of a single resource
      description: "This operation examines two resource versions (can be two versions\
        \ of the same resource, or two different resources) and generates a FHIR Patch\
        \ document showing the differences."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in
          the diff
        required: false
        style: simple
        example: "false"
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}:
    get:
      tags:
      - Condition
      summary: "read-instance: Read Condition instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - Condition
      summary: "update-instance: Update an existing Condition instance, or create\
        \ using a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Condition"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Condition xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - Condition
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - Condition
      summary: "instance-patch: Patch a resource instance of type Condition by ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/_history/{version_id}:
    get:
      tags:
      - Condition
      summary: "vread-instance: Read Condition instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition:
    get:
      tags:
      - Condition
      summary: "search-type: Search for Condition instances"
      description: This is a search type
      parameters:
      - name: onset-info
        in: query
        description: Onsets as a string
        style: simple
      - name: code
        in: query
        description: Code for the condition
        style: simple
      - name: evidence
        in: query
        description: Manifestation/symptom
        style: simple
      - name: resource-placeholder
        in: query
        description: "Search for resources of type [Condition] populated with the\
          \ resource-placeholder extension"
        style: simple
      - name: subject
        in: query
        description: Who has the condition?
        style: simple
      - name: verification-status
        in: query
        description: unconfirmed | provisional | differential | confirmed | refuted
          | entered-in-error
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        style: simple
      - name: clinical-status
        in: query
        description: The clinical status of the condition
        style: simple
      - name: onset-date
        in: query
        description: Date related onsets (dateTime and Period)
        style: simple
      - name: abatement-date
        in: query
        description: Date-related abatements (dateTime and period)
        style: simple
      - name: patient
        in: query
        description: Who has the condition?
        style: simple
      - name: abatement-age
        in: query
        description: Abatement as age or age range
        style: simple
      - name: evidence-detail
        in: query
        description: Supporting information found elsewhere
        style: simple
      - name: severity
        in: query
        description: The severity of the condition
        style: simple
      - name: identifier
        in: query
        description: A unique identifier of the condition record
        style: simple
      - name: recorded-date
        in: query
        description: Date record was first recorded
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: encounter
        in: query
        description: Encounter created as part of
        style: simple
      - name: asserter
        in: query
        description: Person who asserts this condition
        style: simple
      - name: stage
        in: query
        description: Simple summary (disease specific)
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: abatement-string
        in: query
        description: Abatement as a string
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: onset-age
        in: query
        description: Onsets as age or age range
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: category
        in: query
        description: The category of the condition
        style: simple
      - name: body-site
        in: query
        description: "Anatomical location, if relevant"
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - Condition
      summary: "create-type: Create a new Condition instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Condition"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Condition xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/_history:
    get:
      tags:
      - Condition
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type Condition"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/_history:
    get:
      tags:
      - Condition
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type Condition"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/$validate:
    get:
      tags:
      - Condition
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$validate:
    get:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$meta-delete:
    post:
      tags:
      - Condition
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$meta-add:
    post:
      tags:
      - Condition
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/$meta:
    get:
      tags:
      - Condition
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$meta:
    get:
      tags:
      - Condition
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/$expunge:
    post:
      tags:
      - Condition
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$expunge:
    post:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                }, {
                  "name": "count"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$graphql:
    get:
      tags:
      - Condition
      description: "This operation invokes a GraphQL expression for fetching an joining\
        \ a graph of resources, returning them in a custom format."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$binary-access-write:
    post:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "path",
                  "valueString": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$binary-access-read:
    get:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: path
        in: query
        required: true
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Condition/{id}/$diff:
    get:
      tags:
      - Condition
      summary: Comparte two resources or two versions of a single resource
      description: "This operation examines two resource versions (can be two versions\
        \ of the same resource, or two different resources) and generates a FHIR Patch\
        \ document showing the differences."
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: from
        in: query
        description: The resource ID and version to diff from
        required: true
        style: simple
        example: Patient/example/version/1
      - name: to
        in: query
        description: The resource ID and version to diff to
        required: true
        style: simple
        example: Patient/example/version/2
      - name: includeMeta
        in: query
        description: Should differences in the Resource.meta element be included in
          the diff
        required: false
        style: simple
        example: "false"
      - name: fromVersion
        in: query
        description: The resource ID and version to diff from
        required: false
        style: simple
        example: Patient/example/version/1
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/{id}:
    get:
      tags:
      - Coverage
      summary: "read-instance: Read Coverage instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    put:
      tags:
      - Coverage
      summary: "update-instance: Update an existing Coverage instance, or create using\
        \ a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Coverage"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Coverage xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    delete:
      tags:
      - Coverage
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    patch:
      tags:
      - Coverage
      summary: "instance-patch: Patch a resource instance of type Coverage by ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/{id}/_history/{version_id}:
    get:
      tags:
      - Coverage
      summary: "vread-instance: Read Coverage instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage:
    get:
      tags:
      - Coverage
      summary: "search-type: Search for Coverage instances"
      description: This is a search type
      parameters:
      - name: identifier
        in: query
        description: The primary identifier of the insured and the coverage
        style: simple
      - name: subscriber
        in: query
        description: Reference to the subscriber
        style: simple
      - name: resource-placeholder
        in: query
        description: "Search for resources of type [Coverage] populated with the resource-placeholder\
          \ extension"
        style: simple
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        style: simple
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        style: simple
      - name: type
        in: query
        description: "The kind of coverage (health plan, auto, Workers Compensation)"
        style: simple
      - name: payor
        in: query
        description: The identity of the insurer or party paying for services
        style: simple
      - name: identifier-system-cvg-unique
        in: query
        style: simple
      - name: beneficiary
        in: query
        description: Covered party
        style: simple
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        style: simple
      - name: patient
        in: query
        description: Retrieve coverages for a patient
        style: simple
      - name: identifier-system-cvg
        in: query
        description: A coverage identifier with system CVG
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        style: simple
      - name: class-value
        in: query
        description: "Value of the class (eg. Plan number, group number)"
        style: simple
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        style: simple
      - name: _id
        in: query
        description: The ID of the resource
        style: simple
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        style: simple
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        style: simple
      - name: class-type
        in: query
        description: "Coverage class (eg. plan, group)"
        style: simple
      - name: dependent
        in: query
        description: Dependent number
        style: simple
      - name: policy-holder
        in: query
        description: Reference to the policyholder
        style: simple
      - name: status
        in: query
        description: The status of the Coverage
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
    post:
      tags:
      - Coverage
      summary: "create-type: Create a new Coverage instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Coverage"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <Coverage xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/_history:
    get:
      tags:
      - Coverage
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type Coverage"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/{id}/_history:
    get:
      tags:
      - Coverage
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type Coverage"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/$validate:
    get:
      tags:
      - Coverage
      parameters:
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/{id}/$validate:
    get:
      tags:
      - Coverage
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      - name: resource
        in: query
        required: false
        style: simple
      - name: mode
        in: query
        required: false
        style: simple
      - name: profile
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/{id}/$meta-delete:
    post:
      tags:
      - Coverage
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/{id}/$meta-add:
    post:
      tags:
      - Coverage
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                }, {
                  "name": "return"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /Coverage/$meta:
    get:
      tags:
      - Coverage
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: return
        in: query
        required: false
        style: simple
      responses:
        "200":
[...]
